.about-section {
    font-family: 'Poppins', Arial, sans-serif;
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #002868 url('/assets/images/cta.jpg') right top no-repeat;

    .about-wrapper {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        color: #fafafa;

        h2 {
            color: #F58F20 !important;
        }

        .about-sentence-one, .about-sentence-two {
            font-size: 28px;
            line-height: 30px;
        }

        .about-sentence-one {
            width: 80%;
            font-weight: 800;
        }

        .about-sentence-two {
            hr {
                border: 3px solid #fafafa;
            }

            p {
                margin: 5% 0;
            }
        }

        // a {
        //     margin-top: 8%;
        // }
        

        .left-content {
            flex: 1;
            padding: 0;
            margin: 0;
            width: 100%;

            img {
                width: 100%;
                height: auto;
                border-radius: 8px;
            }
        }

        .right-content {
            flex: 1;

            .about-subtitle {
                margin-bottom: 24px;
                padding: 4px 12px;
                display: inline-flex;
                background-color: rgba($color: #EBEDF0, $alpha: 1.0);
                font-weight: 600;
                font-size: 10px;
            }
        }
    }
}

/* Media Queries */
/* Mobile Styles (max-width: 767px) */
@media (max-width: 767px) {
    .about-wrapper {
        flex-direction: column;

        .left-content,
        .right-content {
            max-width: 100%;
            padding-left: 0;
            margin-top: 5%;
        }

        .left-content {
            margin-bottom: 5%;
        }
    }
}

/* Tablet Styles (min-width: 768px and max-width: 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .about-wrapper {
        flex-direction: column;

        .left-content,
        .right-content {
            max-width: 100%;
            padding-left: 0;
            margin-top: 5%;
        }

        .left-content {
            margin-bottom: 5%;
        }
    }
}

/* Desktop Styles (min-width: 1025px) */
@media (min-width: 1025px) {
    .about-wrapper {
        flex-direction: row;

        .left-content {
            max-width: 50%;
        }

        .right-content {
            max-width: 50%;
            padding-left: 2rem;
        }
    }
}