<app-navbar></app-navbar>

<section class="section-container static-section">
    <img class="static-image" src="assets/images/cta.jpg" alt="static" loading="lazy">
    <div class="static-container">
        <div class="static-wrapper">
            <h1 class="static-header static-item" [@slideIn]="isVisible[0] ? 'visible' : 'hidden'">Static Fixed Inventories</h1>
            <p class="static-subheader static-item" [@slideIn]="isVisible[1] ? 'visible' : 'hidden'">
                Ensure consistent brand exposure with Nyxsys Static Fixed Invetories, delivaring impactful, visibility at key location.
            </p>
        </div>
    </div>
</section>

<section class="section-container static-gallery">
    <img src="assets/images/graphics/dots.png" class="img-top-right-corner" alt="Dots" loading="lazy">
    <div class="static-container">
        <div class="static-wrapper" style="margin-bottom: 10%;">
            <h2>Static Inventories</h2>
            <div class="row g-3 mt-2">
                @for (item of staticInvetories; track $index) {
                    <div class="col-12 col-md-6">
                        <div class="static-content">
                            <img [src]="item.image" [alt]="item.image">
                            <div class="static-content-overlay">
                                <div class="static-content-text">
                                    <h4>{{ item.text }}</h4>
                                    <p>{{ item.address }}</p>
                                    <p>{{ item.size }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<app-see-more-services-section></app-see-more-services-section>

<app-footer></app-footer>