<nav class="navbar">
    <div class="navbar-container">
        <a href="/">
            <img src="assets/images/logo white.png" alt="logo white.png" class="logo" loading="lazy">
        </a>
        <button class="navbar-toggler" (click)="isMenuOpen = !isMenuOpen" mat-icon-button><mat-icon>menu</mat-icon></button>
    </div>
    
    <ul class="navbar-menu" [class.active]="isMenuOpen">
        <li><a class="active" href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Team</a></li>
        <li><a href="#">Services</a></li>
    </ul>
</nav>