<div class="service-section">
    <div class="service-container">
        <div class="service-wrapper">
            <h2>Our Excellence</h2>
            <div class="row g-3 align-items-center justify-content-between mt-5">
                @for (item of services; track $index) {
                    <div class="col-12 col-md-6 col-xl-3 position-relative">
                        <div class="service-item">
                            <img [src]="item.image" [alt]="item.title">
                            <div class="service-item-overlay">
                                <h4>{{ item.title }}</h4>
                                <p>{{  item.description }}</p>
                                <button class="service-item-button" [routerLink]="[ item.routerLink ]" color="accent" mat-raised-button>LEARN MORE</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>