<app-navbar></app-navbar>

<section class="section-container audience-section">
    <img class="audience-image" src="assets/images/cta.png" alt="audience" loading="lazy">
    <div class="audience-container">
        <div class="audience-wrapper">
            <h1 class="audience-header audience-item" [@slideIn]="isVisible[0] ? 'visible' : 'hidden'">
                Audience Measurement Enabled by Calton Datx
            </h1>
            <p class="audience-subheader audience-item" [@slideIn]="isVisible[1] ? 'visible' : 'hidden'">
                Unlock the power of data-driven insights to understand your audience like never before. Our cutting-edge tools and 
                analytics help you capture real-time engagement metrics, 
                enabling precise targeting and enhanced campaign effectiveness.
            </p>
        </div>
    </div>
</section>

<section class="section-container description-section">
    <img src="assets/images/graphics/dots.png" class="img-top-right-corner" alt="Dots" loading="lazy">
    <div class="description-container">
        <div class="description-wrapper">
            <div class="description-content">
                <h2 class="header">Global Perspective on Digital Out-of-Home Audience Measurement</h2>
                <p>
                    Data analytics has transformed Digital Out-of-Home (DOOH) advertising by enabling real-time targeting and measurement, 
                    allowing advertisers to optimize campaigns based on audience demographics, location-based behaviors, and other contextual data (David & Torshin, 2023).
                    This shift has significantly improved how ads are delivered and measured globally.
                </p>
                <p>
                    In regions like North America, Europe, and Asia-Pacific, AI and advanced audience measurement systems have empowered advertisers to 
                    fine-tune their strategies, improving ROI by tracking foot traffic and engagement (David & Torshin, 2023). Emerging markets such as Latin America and 
                    Africa are also catching up, despite infrastructure challenges, as investments in digital technologies grow.
                </p>
                <p>
                    As businesses worldwide adopt data analytics in DOOH, they gain a competitive edge by adapting to real-time consumer 
                    behaviors (David & Torshin, 2023). This ability to adjust strategies not only enhances campaign performance but also strengthens market 
                    responsiveness, ensuring personalized and impactful brand interactions across various touchpoints.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section-container indoor-section">
    
</section>

<app-see-more-services-section></app-see-more-services-section>

<app-footer></app-footer>