<app-navbar></app-navbar>

<section class="section-container business-solution-section">
    <img class="business-solution-image" src="assets/images/cta.jpg" alt="business-solution" loading="lazy">
    <div class="business-solution-container">
        <div class="business-solution-wrapper">
            <h1 class="business-solution-header business-solution-item" [@slideIn]="isVisible[0] ? 'visible' : 'hidden'">Business Innovative Solutions & Services</h1>
            <p class="business-solution-subheader business-solution-item" [@slideIn]="isVisible[1] ? 'visible' : 'hidden'">
                Empowering your business with innovative solutions and services that drive growth and efficiency.
            </p>
        </div>
    </div>
</section>

<section class="section-container business-solution-contents">
    <img src="assets/images/graphics/dots.png" class="img-top-right-corner" alt="Dots" loading="lazy">
    <div class="business-solution-container">
        <div class="business-solution-wrapper">
            <h2>Digital Signage Case Studies</h2>
            <p>Real-world success stories showcasing impactful signage solutions across diverse industries.</p>
            <div class="business-solution-carousel">
                <div class="row g-3">
                    @for (item of caseStudies; track $index) {
                        <div class="col-12 col-lg-6 col-xl-4">
                            <div class="business-solution-item">
                                <img [src]="item.image" [alt]="item.image">
                                <div class="business-solution-item-overlay">
                                    <div class="business-solution-item-text">
                                        <h4>{{ item.text }}</h4>
                                        <p>{{  item.details }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="business-solution-wrapper">
            <h2>Digital Signage End-to-End Solutions</h2>
            <div class="end-to-end-solutions">
                <div class="vcastplay-info">
                    <h3>&mdash;VCASTPLAY</h3>
                    <p>
                        A cloud-based CMS for the DOOH industry, popular among major Philippine companies for indoor and 
                        outdoor digital signage. Developed by NYXSYS PH, a leading advertising firm with 25 years of experience 
                        since its spinoff from Mediapool. It also operates one of the largest LEDs in the Philippines, situated in a
                        prime location for both indoor and outdoor DOOH displays
                    </p>
                    <p>Take your business to the next level with vCastPlay,
                        the intelligent, cloud-powered solution designed to
                        deliver organized, engaging digital ad content.
                        Seamlessly tailored for your business needs,
                        vCastPlay makes managing your digital signage
                        effortless.
                    </p>
                    <p>With its user-friendly interface, vCastPlay helps boost
                        your sales and transform how your audience
                        experiences your brand. Elevate your marketing
                        strategy with this cutting-edge advertising tool!</p>
                    <div id="video-container" class="vcastplay-video">
                        <video id="vcastplay" [autoplay]="false" [muted]="true" [loop]="true" [playsInline]="true" class="vcastplay-video" preload="auto">
                            <source src="assets/videos/vcastplay software video.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        @if (!isVcastPlaying) {
                            <div class="vcastplay-overlay">
                                <button (click)="onClickPlay()" class="play-button">
                                    <svg viewBox="0 0 24 24">
                                      <path d="M8 5v14l11-7z"></path>
                                    </svg>
                                </button>
                            </div>
                        }
                    </div>
                </div>
                @for (item of e2eSolutions; track $index) {
                    <div class="end-to-end-solutions-list">
                        <div class="end-to-end-solutions-content">
                            <img [src]="item.image" [alt]="item.text">
                            <h4>{{ item.text }}</h4>
                        </div>
                        <p>{{ item.details }}</p>
                    </div>
                }
            </div>
        </div>
    </div>
    <img src="assets/images/graphics/dots.png" class="img-bottom-left-corner" alt="Dots" loading="lazy">
</section>

<section class="section-container post-service-section">
    <div class="business-solution-container">
        <div class="business-solution-wrapper">
            <h2>Digital Signage Post Services</h2>
            <div class="post-service-container">
                @for (item of postServices; track $index) {
                    <div class="post-service-list">
                        <div class="post-service-item">
                            <img [src]="item.image" [alt]="item.text">
                        </div>
                        <div class="post-service-text">
                            <h4>{{ item.text }}</h4>
                            <p>{{ item.details }}</p>
                        </div>
                    </div>
                }
            </div>
            <hr>
            <div class="post-service-impact">
                <h4>Our solution directly impact your P&L</h4>
                <div class="row g-3 mt-5">
                    <app-number-counting class="col-12 col-md-6 col-lg-3" [finalValue]="-30" subText="%" [title]="'OPEX Savings'"></app-number-counting>
                    <app-number-counting class="col-12 col-md-6 col-lg-3" [finalValue]="50" subText="%" [title]="'Gross Profit Impact'"></app-number-counting>
                    <app-number-counting class="col-12 col-md-6 col-lg-3" [finalValue]="20" subText="%" [title]="'Revenue Boost'"></app-number-counting>
                    <app-number-counting class="col-12 col-md-6 col-lg-3" [finalValue]="60" subText="hours" [title]="'Saved time per week'"></app-number-counting>
                </div>
            </div>
        </div>
    </div>
</section>


<app-see-more-services-section></app-see-more-services-section>

<app-footer></app-footer>