<app-navbar></app-navbar>

<section class="section-container services-section">
    <img class="services-image" src="assets/images/services-bg.jpg" alt="Services" loading="lazy">
    <div class="services-container">
        <div class="services-wrapper">
            <h1 class="services-header services-item" [@slideIn]="isVisible[0] ? 'visible' : 'hidden'">Our Services</h1>
            <p class="services-subheader services-item" [@slideIn]="isVisible[1] ? 'visible' : 'hidden'">
                We specialize in providing comprehensive digital advertising solutions that combine innovation and 
                expertise to meet diverse business needs. Our offerings include state-of-the-art LED billboard media for 
                impactful visual campaigns, high-quality static inventories for timeless advertising, seamless technology 
                integration to enhance engagement, advanced data analytics for actionable insights, and content management 
                systems for efficient campaign execution. With our all-encompassing approach, we empower businesses to elevate 
                their marketing strategies and achieve measurable results.
            </p>
        </div>
    </div>
</section>

<app-services-section></app-services-section>

<app-why-choose-us-section></app-why-choose-us-section>

<app-companies></app-companies>

<!-- <app-testimonials></app-testimonials> -->

<app-call-to-action></app-call-to-action>

<app-footer></app-footer>