<app-navbar></app-navbar>

<section class="hero-section">
    <video [autoplay]="true" [muted]="true" [loop]="true" [playsInline]="true" class="hero-video" preload="auto">
        <source src="assets/videos/led.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="hero-wrapper">
        <div class="hero-container">
            <h1 class="hero-header">Forefront Of Innovation For <span>Digital Media</span> And <span>Industry
                    Solutions</span></h1>
            <p class="hero-subheader">At Nyxsys Philippines, Inc., we revolutionize the way businesses connect and grow
                with Digital Out-of-Home (DOOH) media and innovative technology solutions. Our advanced tools and
                strategies empower companies to amplify their presence, engage audiences effectively, and thrive in
                today’s fast-paced digital world. By driving impactful campaigns and delivering scalable business
                solutions, we help our partners set industry benchmarks, stay ahead of the competition, and achieve
                long-term success in an ever-evolving landscape.</p>
            <!-- <h1 class="hero-headline">BE <span>ICONIC</span></h1> -->
            <!-- <p class="hero-subheadline">We are a <span>MEDIA</span>&nbsp;<span>TECHNOLOGY</span>, and <span>DIGITAL</span> Company</p> -->
            <a routerLink="/contact" color="accent" mat-raised-button>CONTACT US</a>
        </div>
    </div>
</section>

<app-about-section></app-about-section>

<app-driving-force-section></app-driving-force-section>

<app-services-section></app-services-section>

<app-companies></app-companies>

<!-- <app-testimonials></app-testimonials> -->

<app-call-to-action></app-call-to-action>

<app-footer></app-footer>