.wrapper {
    position: relative;
    
    .cta-container {
        width: 100%;
        max-height: 400px;
        object-fit: cover;
        background: url('/assets/images/cta.png');
        background-attachment: fixed;  // This creates the parallax effect
        background-size: cover;
        background-position: center;
        border-radius: 10px;

        .cta-content {
            padding: 5%;
            color: #fafafa;

            .header {

                span {
                    color: #F58F20;
                }
            }

            // button {
            //     padding: 9% 8%;
            //     font-size: 1.2rem;
            // }
        }
    }
}

/* Mobile Styles (max-width: 767px) */
@media (max-width: 767px) {
    .cta-content {
        padding: 2%;

        .header {
            text-align: center;
        }
    }
}

/* Tablet Styles (min-width: 768px and max-width: 1024px) */
@media (min-width: 768px) and (max-width: 1024px)  {
    .cta-content {
        padding: 2%;
        
        .header {
            text-align: center;
        }
    }
}