<section class="section-container">
    <img src="assets/images/graphics/dots.png" class="img-bottom-right-corner" alt="Dots" loading="lazy">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="cta-container">
                <div class="row g-3 align-items-center cta-content">
                    <div class="col-12 col-lg-9">
                        <h2 class="header">Leading the <span>Digital Out-Of-Home Media</span> and <span>Innovative Digital Solutions</span></h2>
                    </div>
                    <div class="col-12 col-lg-3 text-center">
                        <a routerLink="/contact" color="accent" mat-raised-button>Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>