<section class="section-container cta-section">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="cta-container">
                <div class="cta-content">
                    <h2 class="header">Leading the <span>Digital Out-Of-Home Media</span> and <span>Innovative Digital Solutions</span></h2>
                    <div class="cta-contacts-item mt-4">
                        <mat-icon>mail</mat-icon>
                        <p>{{ emailAddress }}</p>
                    </div>
                    <div class="cta-contacts">
                        <div class="cta-contacts-item">
                            <mat-icon>location_on</mat-icon>
                            <p>{{ address }}</p>
                        </div>
                        <div class="cta-contacts-item">
                            <mat-icon>phone</mat-icon>
                            <p>{{ phone }}</p>
                        </div>
                    </div>
                </div>
                <!-- <div class="row g-3 align-items-center cta-content">
                    <div class="col-12 col-lg-9">
                        <h2 class="header">Leading the <span>Digital Out-Of-Home Media</span> and <span>Innovative Digital Solutions</span></h2>
                    </div>
                    <div class="col-12 col-lg-3 text-center">
                        <a routerLink="/contact" color="accent" mat-raised-button>Contact Us</a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</section>