.testimonial-section {
    font-family: 'Poppins', Arial, sans-serif;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 10% 3%;
    
    .testimonial-container {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        z-index: 1;

        .testimonial-wrapper {
            position: relative;
            text-align: center;
            
            h2 {
                font-size: 2.3rem;
                font-weight: 700;
                margin-bottom: 3rem;
            }
            
            .testimonial-item {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 32px;
                margin: 0 26px;
                text-align: center;

                img {
                    width: 200px;
                    margin-bottom: 32px;
                    background-attachment: #fafafa;
                }

                .testimonial-item-quote {
                    padding: 0;
                    margin: 0;
                    width: 50px;
                }
            }
        }
    }
}